/* Reset default browser styles */
body, h1, h2, ul, form {
    margin: 0;
    padding: 0;
}
  
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

header, footer {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

main {
  display: flex;
  justify-content: center;
}

.chat_window {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
}

h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

#message-window {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

#message-window li {
  margin-bottom: 10px;
}

#chat-form {
  display: flex;
  align-items: center;
}

#new-message-label {
  margin-right: 10px;
}

#new-message {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

#error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.translation-options {
  display: none;
}
